@media screen and (min-width: 360px) {
   .col{
    margin-bottom: 20px;
   }
  }
.row {
    margin-top: 20px;
	display: flex;
    justify-content: space-evenly;
    height: 100vh;
    margin-bottom: 20px;
}
.col{
border-radius: 8px;
background-color: rgb(226 232 240);
padding-bottom: 10px;
}

